function getTimeSize(time) {
  // 100000为DNF，wxs传不进去Infinity
  return time < 60000 || time === 100000 ? '' : 'small'
}

function getInfoClass(status) {
  return status === 0 ? '' : 'hide'
}

function getScrambleSize(len) {
  return len > 200 ? 'small' : ''
}

module.exports = {
  getTimeSize: getTimeSize,
  getInfoClass: getInfoClass,
  getScrambleSize: getScrambleSize
}