function getTimeSize(time) {
  // 100000为DNF，wxs传不进去Infinity
  return time < 60000 || time === 100000 ? '' : 'small'
}

function getScrambleClass(status) {
  return status === 2 ? 'hide' : ''
}

function getScrambleSize(len) {
  return len > 200 ? 'small' : ''
}

module.exports = {
  getTimeSize: getTimeSize,
  getScrambleClass: getScrambleClass,
  getScrambleSize: getScrambleSize
}